page-contact {
  .grid-col{
    background-color: #9eeeb6;
    border: solid #8c8c8c;
  }
}
.map-card{
  ion-card{
    position: relative;
  }
  .map-pin{
    position: absolute;
    top: 0%;
    right: 0%;

  }
}
